.DS_Store
xcuserdata/
DerivedData/
build/
*.xcworkspace
*.xcodeproj
*.xcuserstate
*.moved-aside
*.ipa
*.dSYM
*.mobileprovision
*.p12
*.cer
*.xcarchive
*.xcresult
.env
.env.*
!.env.example
private/
.private/
